In [1]:
def kuchbhi():
    a = 10
    b = 20
    c = a + b
    print(f'The sum of a and b is {c}')
kuchbhi()

The sum of a and b is 30

In [2]:
name = "shiva mishra"
city = "amethi"

In [4]:
a = 10
b = 20
print(a + b)
print(a - b)
print(a * b)
print(a ** b)
print(a / b)
print(a // b)
print(a % b)

30
-10
200
100000000000000000000
0.5
0
10

In [6]:
x = 15
print(x>10 and x<20)
print(x<10 and x>20)
print(x<10 or x<20)
print(not a > b)

True
False
True
True

In [7]:
fruits=["mango", "banana","apple"]
print(fruits)
print('apple' in fruits)
print('mango' in fruits)
print('banana' in fruits)
print('grapes' in fruits)

['mango', 'banana', 'apple']
True
True
True
False

In [1]:
 #example in python language

a = 10
if a>5:
    print("a is greater then 15")
else:
    print("a is less then 15")

a is greater then 15

In [3]:
# if-else ladder
a, b, c = 10, 20, 30
if a > b and a > c:
    print("A is the graetest")
elif b > a and b>c:
    print("B is greatest")
else:
    print("C is greatest")

C is greatest

In [4]:
numbers = [1, 2, 3, 4, 5]
for n in numbers:
    print(f"ðŸ˜Ž{n}")

ðŸ˜Ž1
ðŸ˜Ž2
ðŸ˜Ž3
ðŸ˜Ž4
ðŸ˜Ž5

In [5]:
fruits = ['mango', 'apple', 'banana', '', 'orange', '', 'grapes', 'pine apple']
for fruit in fruits:
    if len(fruit) == 0:
        continue
    print(fruit)

mango
apple
banana
orange
grapes
pine apple

In [8]:
# while loop syntex
number = 7432647227287
total = 0
while number > 0:
    total += number % 10
    number //= 10
print(total)

61

## function

In [9]:
fruits = ['mango', 'apple', 'banana', '', 'orange', '', 'grapes', 'pine apple']
for fruit in fruits:
    if len(fruit) == 0:
        continue
    print(fruit)

mango
apple
banana
orange
grapes
pine apple

In [13]:
fruits.append('')

In [14]:
print(fruits)

['mango', 'apple', 'banana', '', 'orange', '', 'grapes', 'pine apple', 'grapes', 'grapes', 'watermillon']

In [13]:
fruits1 = ['mango', 'apple', 'banana', '', 'orange', '', 'grapes', 'pine apple', 'grapes', 'grapes', 'watermillon',12,23]
print(fruits1[4])
fruits1.append("guava")
print(fruits1)
fruits1.remove("banana")
fruits1[2]="papaya"
print(fruits1)

orange
['mango', 'apple', 'banana', '', 'orange', '', 'grapes', 'pine apple', 'grapes', 'grapes', 'watermillon', 12, 23, 'guava']
['mango', 'apple', 'papaya', 'orange', '', 'grapes', 'pine apple', 'grapes', 'grapes', 'watermillon', 12, 23, 'guava']

In [15]:
vowel=['a','e','i','u']
vowel.insert(3,'o')
for vowe in vowel:
    print(vowe)

a
e
i
o
u

## list

In [2]:
cars = {
    "brand":"suzuki",
    "model":"swift",
    "years":2098,
    "color":"blue",
}
cars["color"]="yellow"
del cars['years']
print(cars)
print(cars.get("model"))

{'brand': 'suzuki', 'model': 'swift', 'color': 'yellow'}
swift

# tuople

In [1]:
touple = ("apple")
print(type(touple))
print(touple)

<class 'str'>
apple

# dictionary

In [1]:
product1 = {
    'brand' : 'apple',
    'name' : 'Iphone',
    'price': 150000,
    
}

In [2]:
print(product1['brand'])
print(product1['name'])

apple
Iphone

In [5]:
# print(product1['ram])
print(product1.get('ram'))
print(product1.get('ram', 'not found'))
print(product1.get('price', 'not found'))

None
not found
150000

In [7]:
kharche = {
    'sabji': 250,
    'dawai': 9354,
    'phal': 98923,
    'phone ka bill':25746,
}
for K,V in kharche.items():
    print(f"{k}ka kharche {v} rupey")

NameError: name 'k' is not defined

In [9]:
import math
p,b = 3,4
h = math.sqrt(p**2 + b**2)
print(h)
import math
p,b = 5,15
h = math.sqrt(p**2 + b**2)
print(h)
import math
p,b = 6,9
h = math.sqrt(p**2 + b**2)
print(h)

5.0
15.811388300841896
10.816653826391969

In [10]:
def hyp(p,b):
    ans = math.sqrt(p**2 + b**2)
    return ans

In [12]:
print(hyp(3,4))
print(hyp(34,47))
print(hyp(32,45))

5.0
58.008620049092706
55.21775076911409

# function

In [1]:
def abbr_generator(data):
    words = data.split(',')
    abbreviations = []
    for word in words:
        clean_word = word.strip()
        abbr = ''
        for item in clean_word.split():
            abbr += item[0].upper()
        abbreviations.append(abbr)
    return abbreviations

In [23]:
abbr_generator('shiva mishra, ayushi chaudhary, tanul yadav, sana makbool, rohit shetty jii')

['SM', 'AC', 'TY', 'SM', 'RSJ']

In [1]:
def word_count(sentence):
    words = sentence.split()
    size = len(words)
    return size

In [2]:
word_count("I want to beat you")

5

# CLASS and OBJECT

In [16]:
class Student:
  name = ""
  rollno = ""
  klass = ""
  def show(self):
    print(self.name)
    print(self.klass)
    print(self.rollno)

### object creation

In [17]:
s1 = Student()
s1.name = "rahul"
s1.rollno = '006'
s1.klass = '6th'

In [18]:
s1.show()

rahul
6th
006

In [19]:
class Bus:
    def __init__(self, number, driver, type, manufacturer):
        self.number = number
        self.driver = driver
        self.bus_type = type
        self.manufacturer = manufacturer

    def info(self):
        print(f"Bus number: {self.number}")
        print(f"Bus Driver: {self.driver}")
        print(f"Bus Type: {self.bus_type}")
        print(f"Bus manufacturer: {self.manufacturer}")

In [21]:
b1 = Bus("up37BB72323", "prakash", "non AC","tata")
b2 = Bus("up34fB72323", "ayushu", "AC","volvo")
b1.info()
b2.info()

Bus number: up37BB72323
Bus Driver: prakash
Bus Type: non AC
Bus manufacturer: tata
Bus number: up34fB72323
Bus Driver: ayushu
Bus Type: AC
Bus manufacturer: volvo

In [22]:
class Person:
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender
    def show(self):
        print(f'{self.name} and {self.gender}')

In [24]:
class Engineer(Person):
    def __init__(self, name, gender, type):
        super().__init__(name, gender)
        self.type = type

In [26]:
e1 = Engineer('RAj', 'male', 'civil')
e1.show()
p1 = Person("arti", "Female")
p1.show()

RAj and male
arti and Female